<footer>
	<div class="footer text-white px-5">
		<div class="footer-containe px-5">
			<div class="footer-links row justify-content-between w-100 px-5">
				<div class="footer-col col-6 col-md-4 a-link">
					<p>Copyright © 2025 Zudio</p>
					<p>Don't miss out on the latest in fashion.</p>
					<div>
						<p>
							Follow us
							<img src="/images/icons-nstagram.png" class="a-link" alt="instrgmLogo" />
							<a href="https://www.zomato.com/privacy" class="a-link">@MYZUDIO ,</a>
							<img src="/images/icons-facebook.png" class="a-link" alt="fbLogo" />
							<a href="https://www.zomato.com/privacy" class="a-link">@MYZUDIO</a>
						</p>
					</div>
				</div>

				<div class="footer-col col-6 col-md-4">
					<div>
						<a href="https://www.zomato.com/privacy" class="a-link">Cookie Policy</a>
						<a href="https://www.zomato.com/security" class="a-link">Privacy Policy</a>
						<a href="https://www.zomato.com/conditions" class="a-link">Terms & Conditions</a>
					</div>
					<div>
						<a href="https://www.zomato.com/contact" class="a-link">
							Contact us- Zudiohelp@trent-tata.com
						</a>
						<a href="https://www.zomato.com/report-fraud" class="a-link">
							Zudio Retail Business Associate Enquiry - zudio.rba@trent-tata.com
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
