/* .hero {
	width: 100%;
	height: 100vh;
} */
.hero,
.navbar,
.footer {
	background-color: black;
}

.homeBanner {
	width: 100%;
	height: 87vh;
	object-fit: contain;
}

.a-link {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
.a-link:hover {
	color: white;
}

.carousel-indicators {
	justify-content: end !important;
}
.carousel-indicators [data-bs-target] {
	position: relative;
	border-radius: 50% !important;
	height: 13px !important;
	width: 12px !important;
	left: 15%;
	background: none;
}
/* sidebar  */
.category-sidebar {
	position: absolute;
	top: 20;
	left: 70;
	width: 200px;
	height: 100%;
	color: white;
	padding-top: 20px;
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.category-sidebar ul {
	list-style: none;
	padding: 0;
}

.category-sidebar ul li {
	margin-bottom: 18px;
}

.category-sidebar ul li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.next,
.prev {
	display: none !important;
}
