<%- include('../partials/header') %>
		<main>
			<div id="homeImgContainer">
					<h1>FIND THE ZUDIO STORE CLOSEST TO YOU</h1>
					<p>FIND THE ZUDIO STORE CLOSEST TO YOU</p>
			</div>
			
			
		</main>
		<%- include('../partials/footer') %>
	</body>
</html>
